.navigation {
  min-height: 48px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: 3px solid var(--color-orange);
  background-color: white;
}
.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0px;
}

.navigation__item {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  background-color: white;
  align-content: stretch;
  height: 40px;
}
.navigation__link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.navigation__icon {
  height: 40px;
  width: 40px;
}
