*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

ul[role="list"] {
  list-style: none;
}

body {
  font-size: 112.5%;
  font-family: Arial, Helvetica, "sans-serif";
}

h1 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.h-100vh {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
