*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"] {
  list-style: none;
}

body {
  font-size: 112.5%;
  font-family: Arial, Helvetica, "sans-serif";
}

h1 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
